FiverxLinkSecurityLib/Service References/FiveRxSecurityService/FiveRxLinkSecurityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://fiverx.de/security" xmlns:s1="http://fiverx.de/security/types" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://fiverx.de/security" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://fiverx.de/security">
      <s:element name="ladeRzSecurityVersionRequest" type="tns:einParameterRequestMsg" />
      <s:complexType name="einParameterRequestMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="rzeEingabeDaten" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="genericResponseMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="rzeAusgabeDaten" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="requestladeRzZertifikat" type="tns:einParameterRequestMsg" />
      <s:element name="requestAuftrag" type="tns:zweiParameterRequestMsg" />
      <s:complexType name="zweiParameterRequestMsg">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="rzeEingabeDaten" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="rzeLadeRzSecurityVersion" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://fiverx.de/security/types">
      <s:import namespace="http://fiverx.de/security" />
      <s:element name="genericResponseMsg" type="tns:genericResponseMsg" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ladeRzSecurityVersionSoapIn">
    <wsdl:part name="ladeRzSecurityVersionRequest" element="tns:ladeRzSecurityVersionRequest" />
  </wsdl:message>
  <wsdl:message name="ladeRzSecurityVersionSoapOut">
    <wsdl:part name="ladeRzSecurityVersionResult" element="s1:genericResponseMsg" />
  </wsdl:message>
  <wsdl:message name="ladeRzZertifikatSoapIn">
    <wsdl:part name="requestladeRzZertifikat" element="tns:requestladeRzZertifikat" />
  </wsdl:message>
  <wsdl:message name="ladeRzZertifikatSoapOut">
    <wsdl:part name="ladeRzZertifikatResult" element="s1:genericResponseMsg" />
  </wsdl:message>
  <wsdl:message name="verarbeiteAuftragSoapIn">
    <wsdl:part name="requestAuftrag" element="tns:requestAuftrag" />
  </wsdl:message>
  <wsdl:message name="verarbeiteAuftragSoapOut">
    <wsdl:part name="verarbeiteAuftragResult" element="s1:genericResponseMsg" />
  </wsdl:message>
  <wsdl:portType name="FiveRxLinkSecurityServiceSoap">
    <wsdl:operation name="ladeRzSecurityVersion">
      <wsdl:input message="tns:ladeRzSecurityVersionSoapIn" />
      <wsdl:output message="tns:ladeRzSecurityVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ladeRzZertifikat">
      <wsdl:input message="tns:ladeRzZertifikatSoapIn" />
      <wsdl:output message="tns:ladeRzZertifikatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verarbeiteAuftrag">
      <wsdl:input message="tns:verarbeiteAuftragSoapIn" />
      <wsdl:output message="tns:verarbeiteAuftragSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FiveRxLinkSecurityServiceSoap" type="tns:FiveRxLinkSecurityServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ladeRzSecurityVersion">
      <soap:operation soapAction="http://fiverx.de/security#rzeladeRzSecurityVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ladeRzZertifikat">
      <soap:operation soapAction="http://fiverx.de/security#ladeRzZertifikat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verarbeiteAuftrag">
      <soap:operation soapAction="http://fiverx.de/security#verarbeiteAuftrag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FiveRxLinkSecurityServiceSoap12" type="tns:FiveRxLinkSecurityServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ladeRzSecurityVersion">
      <soap12:operation soapAction="http://fiverx.de/security#rzeladeRzSecurityVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ladeRzZertifikat">
      <soap12:operation soapAction="http://fiverx.de/security#ladeRzZertifikat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verarbeiteAuftrag">
      <soap12:operation soapAction="http://fiverx.de/security#verarbeiteAuftrag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FiveRxLinkSecurityService">
    <wsdl:port name="FiveRxLinkSecurityServiceSoap" binding="tns:FiveRxLinkSecurityServiceSoap">
      <soap:address location="http://192.168.38.214/Fiverxlinksecurityservice.asmx" />
    </wsdl:port>
    <wsdl:port name="FiveRxLinkSecurityServiceSoap12" binding="tns:FiveRxLinkSecurityServiceSoap12">
      <soap12:address location="http://192.168.38.214/Fiverxlinksecurityservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>